body{
    margin: 0;
    background-color: yellow;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}
.contanier{
    background-color: darkcyan;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}
.currency-container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}
.currency-container select{
    padding: 10px;

}
.currency-container input{
    border: 0;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: aliceblue;
}
.exchange-rate{
    font-size: 16px;
    font-weight: 600;
}
select:focus,input:focus{
    outline: 0;
}